---
import Layout from '../layouts/Layout.astro';
import Navigator from '../components/Navigator.astro'
---

<Layout title="Creator Awards">
	<Navigator />
	<!-- <main class="bg-green-700">
	</main> -->
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 1000px;
		max-width: calc(100% - 2rem);
		color: white;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
